$firstColor:#fbf0ff;
$secondColor:#f4d9ff;
$thirdColor:#e08fff;
$fourthColor:#ba23f6;

body
{

    display: flex;
    flex-direction: column;
    background-color: $firstColor;
    justify-content: center;
    align-items: center;

    header
    {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95vw;

        section
        {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: 25vh;
            height: auto;
            width: 39%;
            border: 1px solid black;
            border-radius: 5px;
            background-color: $secondColor;


            h1
            {

                text-align: center;

            }

        }

        nav
        {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            min-height: 25vh;
            height: auto;
            width: 59%;
            border: 1px solid black;
            border-radius: 5px;
            background-color: $secondColor;

            a
            {

                font-size: 1.5em;
                text-decoration: none;
                color: $fourthColor;
                text-align: center;
                margin-block-start: 0.83em;
                margin-block-end: 0.83em;
                display: block;
                
            }

        }

    }

    main
    {

        background: $secondColor;
        border: 1px solid black;
        border-radius: 5px;
        width: 95vw;
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 60vh;

        section
        {

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            div
            {

                border: 1px solid black;
                width: 43vw;
                margin: 5px;
                border-radius: 5px;
                text-align: center;

            }

        }

    }

}


