$firstColor:#fbf0ff;
$secondColor:#f4d9ff;
$thirdColor:#e08fff;
$fourthColor:#ba23f6;

*{

    margin: 3px;

}

body{

    background: $firstColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    
    header{
        
        padding: 0px;
        border-radius: 5px;

        height: 15vh;

        #title{
            background: $secondColor;
            width: auto;
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px black solid;
            padding: 4px;
            border-radius: 5px;

            h1{

                justify-self: center;

            }

        }

        nav{

            height: 5vh;
            background: $secondColor;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            border: 2px black solid;
            padding: 8px;
            border-radius: 5px;

            a{

                color: #ba23f6;
                text-decoration: none;
                font-size: larger;
                font-weight: bold;

            }
            a:hover{

                color: $thirdColor;
                text-decoration: none;
                text-shadow: 0.5px 0.5px black, -0.5px -0.5px black;

            }

        }

    }

    main{

        border-radius: 5px;
        background: $secondColor;
        width: auto;
        border: 2px black solid;
        padding: 10px;
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:60vh;
        overflow: auto;

        div{

            border: 1px solid black;
            border-radius: 5px;
            background-color: $thirdColor;
            height: 25vh;
            margin: 10px 0px;
            padding: 5px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            section{

                border: 1px solid black;

                img{

                    width: 20vw;
                    height: 20vh;

                }

            }

        }

    }

}

p{

    text-align: center;

}

div{

    .display{

        position: fixed;
        width: 90vw;
        left: 0px;
        top: 0px;
        border: 20px solid black;
        display: none;

    }

}