$firstColor:#fbf0ff;
$secondColor:#f4d9ff;
$thirdColor:#e08fff;
$fourthColor:#ba23f6;

*{

    margin: 3px;

}

body{

    background: $firstColor;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    header{
        
        display: none;
        padding: 0px;
        border-radius: 5px;

        #title{
            background: $secondColor;
            width: auto;
            border: 2px black solid;
            padding: 4px;
            border-radius: 5px;

            h1{

                justify-self: center;

            }

        }

        nav{

            background: $secondColor;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            border: 3px black solid;
            padding: 8px;
            border-radius: 5px;

            a{

                color: #ba23f6;
                text-decoration: none;

            }
            a:hover{

                color: black;
                background: thirdColor;
                text-decoration: none;

            }

        }

    }

    main{

        display: none;
        padding: 0px;
        border-radius: 5px;
        background: $secondColor;
        width: auto;
        border: 2px black solid;
        padding: 4px;
        border-radius: 5px;
        flex-direction: row;
        justify-content: center;

        #top{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between; 

            button{



            }

        }

        #core{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px;

            div{
                margin: 0px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 60;

                img{

                    width: 30%;
                    margin: 0px;
                }
                .bigImage{

                    width:60%;

                }


            }

            #text{

                width: 60%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin: 0px;

                h3{

                    background: $thirdColor;
                    text-align: center;
                    margin:0px;

                }

            }

        }

        #bottom{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

        }


    }

}